.idea/
.vscode/
.DS_Store

node_modules/
yarn-error.log
package-lock.json
yarn.lock
lerna-debug.log

projects/jy__qilin-admin/.env.development

coverage
.temp/
.rn_temp/
.umi/
.umi-production/

.eslintcache

dist/
lib
es
types
.github
deploy_versions/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn3.lock
yarn-error.log
